@import './var.scss';

$dark: (
  // 文字颜色
    color: $--color-text-4,
  //背景
    background-color: $--color-dark-bg-1,
  //渐变背景
    background-image:
    linear-gradient(120deg, $--color-dark-bg-1 0%, $--color-dark-bg-1 100%),
  // 斑点背景
    background-point:
    (
      linear-gradient($--color-dark-bg-1 14px, transparent 0),
      linear-gradient(90deg, transparent 14px, $--color-text-2 0)
    ),
  //毛玻璃
    filter-color: $--filter-color-login-dark,
  // 物料市场背景
    items-top-bg:
    linear-gradient(180deg, $--color-dark-bg-1, rgba(23, 23, 26, 0)),
  // hover 边框颜色
    hover-border-color: #55606e,
);
