@import './var.scss';

$light: (
  // 文字颜色
    color: $--color-text,
  // aside 背景
    aside-background_color: $--color-light-fill-1,
  //背景
    background_color: $--color-light-fill-3,
  //渐变背景
    background-image:
    linear-gradient(120deg, $--color-light-fill 0%, $--color-light-fill 100%),
  // 斑点背景
    background-point:
    (
      linear-gradient($--color-light-fill-1 14px, transparent 0),
      linear-gradient(90deg, transparent 14px, $--color-dark-bg-5 0)
    ),
  //毛玻璃
    filter-color: $--filter-color-login-light
);
