@import './theme.scss';
// 颜色
$--color-red: #fc625d;
$--color-warn: #fcbc40;
$--color-success: #34c749;

// 文字
$--color-text-1: hsla(0, 0%, 100%, 0.9);
$--color-text-2: hsla(0, 0%, 100%, 0.7);
$--color-text-3: hsla(0, 0%, 100%, 0.5);
$--color-text-4: hsla(0, 0%, 100%, 0.3);

// 顶部距离
$--header-height: 60px;
// 模糊
$--filter-blur-base: blur(2px);
// 毛玻璃
$--filter-color-base: rgba(0, 0, 0, 0.07);
// 边框
$--border-radius-base: 8px;
$--border-bottom-style: 1px solid $--color-border;
