@import './config.scss';
@import '../var.scss';

$themes: (
  #{$theme-light}: (
      background_color: #cccccc,
      //背景色
        background-image:
        linear-gradient(120deg, $--color-text-1 0%, $--color-text-1 100%),
      //文字
        text-color: #000000a6,
      //毛玻璃
        filter-color: $--filter-color-login-light
    ),
  #{$theme-dark}: (
      background-color: $--color-bg-1,
      //背景
        background-image:
        linear-gradient(120deg, $--color-bg-1 0%, $--color-bg-2 100%),
      //文字
        text-color: $--color-text-3,
      //毛玻璃
        filter-color: $--filter-color-login-dark
    )
);
